FinalProjectClient/App_WebReferences/ServiceReference1/FanLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FanLoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1134/FanLoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1134/FanLoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1134/FanLoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFanLoginService_registerFan_InputMessage">
    <wsdl:part name="parameters" element="tns:registerFan" />
  </wsdl:message>
  <wsdl:message name="IFanLoginService_registerFan_OutputMessage">
    <wsdl:part name="parameters" element="tns:registerFanResponse" />
  </wsdl:message>
  <wsdl:message name="IFanLoginService_loginFan_InputMessage">
    <wsdl:part name="parameters" element="tns:loginFan" />
  </wsdl:message>
  <wsdl:message name="IFanLoginService_loginFan_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginFanResponse" />
  </wsdl:message>
  <wsdl:message name="IFanLoginService_GetShowsByVenue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByVenue" />
  </wsdl:message>
  <wsdl:message name="IFanLoginService_GetShowsByVenue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByVenueResponse" />
  </wsdl:message>
  <wsdl:message name="IFanLoginService_GetShowsByArtist_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByArtist" />
  </wsdl:message>
  <wsdl:message name="IFanLoginService_GetShowsByArtist_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShowsByArtistResponse" />
  </wsdl:message>
  <wsdl:portType name="IFanLoginService">
    <wsdl:operation name="registerFan">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanLoginService/registerFan" message="tns:IFanLoginService_registerFan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanLoginService/registerFanResponse" message="tns:IFanLoginService_registerFan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="loginFan">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanLoginService/loginFan" message="tns:IFanLoginService_loginFan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanLoginService/loginFanResponse" message="tns:IFanLoginService_loginFan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsByVenue">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanLoginService/GetShowsByVenue" message="tns:IFanLoginService_GetShowsByVenue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanLoginService/GetShowsByVenueResponse" message="tns:IFanLoginService_GetShowsByVenue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShowsByArtist">
      <wsdl:input wsaw:Action="http://tempuri.org/IFanLoginService/GetShowsByArtist" message="tns:IFanLoginService_GetShowsByArtist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFanLoginService/GetShowsByArtistResponse" message="tns:IFanLoginService_GetShowsByArtist_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFanLoginService" type="tns:IFanLoginService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="registerFan">
      <soap:operation soapAction="http://tempuri.org/IFanLoginService/registerFan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="loginFan">
      <soap:operation soapAction="http://tempuri.org/IFanLoginService/loginFan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsByVenue">
      <soap:operation soapAction="http://tempuri.org/IFanLoginService/GetShowsByVenue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShowsByArtist">
      <soap:operation soapAction="http://tempuri.org/IFanLoginService/GetShowsByArtist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FanLoginService">
    <wsdl:port name="BasicHttpBinding_IFanLoginService" binding="tns:BasicHttpBinding_IFanLoginService">
      <soap:address location="http://localhost:1134/FanLoginService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>