FinalProjectClient/App_WebReferences/ServiceReference1/FanLoginService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FanData">
    <xs:sequence>
      <xs:element minOccurs="0" name="fanEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fanName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanData" nillable="true" type="tns:FanData" />
  <xs:complexType name="FanLoginData">
    <xs:sequence>
      <xs:element minOccurs="0" name="fanLoginPlainPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fanLoginUserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FanLoginData" nillable="true" type="tns:FanLoginData" />
  <xs:complexType name="ArrayOfShowInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowInfo" nillable="true" type="tns:ShowInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowInfo" nillable="true" type="tns:ArrayOfShowInfo" />
  <xs:complexType name="ShowInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowInfo" nillable="true" type="tns:ShowInfo" />
  <xs:complexType name="ArrayOfArtistInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArtistInfo" nillable="true" type="tns:ArrayOfArtistInfo" />
  <xs:complexType name="ArtistInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArtistName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArtistInfo" nillable="true" type="tns:ArtistInfo" />
</xs:schema>